.post-table {
  display: flex;
  justify-content: center;
  padding-top: 10em;
  overflow: auto;
  padding-left: 14rem;
}

.form-group { 
  padding: 20px;
}

.addPostButton { 
  float: right; 
  padding: 20px; 
}

.addNewPostForm { 
  margin-left: 20px; 

}

.categoryGroup { 
  display: flex; 
  
}

.categoryList { 
  display: flex; 
  flex-direction: row;
}

