.postDetail,
.user-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.post-table {
  display: flex;
  justify-content: center;
  padding-top: 10em;
  overflow: auto;
  padding-left: 14rem;
  width: 75%
}
