.postDetail,
.user-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.buttons {
  padding: 3px;
  margin: 5px;
}

.single-my-post {
  margin: 15px;
}

.posts__container {
  width: 80vw;
  display: flex;
  margin:auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.posts__buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.posts__filters {
  justify-content:space-around;
}

.posts__dropdown{
  padding: 0.5rem
}

.post-table {
  display: flex;
  justify-content: center;
  padding-top: 5em;
  overflow: auto;
  width: 100%
}

.form-group {
  padding: 20px;
}

.addPostButton {
  align-self: flex-end;
  padding: 20px;
  border: 1px dotted black
}

.addNewPostForm {
  margin-left: 20px;

}

.tags {
  display: flex; 
  flex-direction: column;
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;

}

.tagLabel {
  margin-right: 15px;
  line-height: 32px;
}

.categoryGroup {
  display: flex;
}

.categoryList {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.dropdownMenu {
  position: relative;
  padding: 20px; 
  margin: 20px; 
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.posts__myposts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%
}
.single-my-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
  border: 1px dotted black
}

.myposts__image {
  width: 200px;
  object-fit: cover;
  padding-right: 10px
}
.myposts__postbody {
  padding: 1rem;
  margin: 1rem
}

.myposts__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}