.users__container {
  margin: 0 5rem;
  justify-content: left;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  /* margin: 0.5rem 1em; */
  padding: 0.5rem 1rem;
}

.users {
  width: 50vw;
  min-width: fit-content;
  justify-content: left;
  margin-top: 1rem;
}

.users_search {
  width: 25rem;
}

.user__name {
  font-weight: bold
}

.users__title {
  /* margin: 0.5rem 1em; */
  font-size: 24px;
  font-weight: bolder;
  width: 100%
}

.users {
  min-width: fit-content;
  justify-content: space-between;
  margin-top: 1rem;
}

.users__container {
  
}

.user__card {
  background-color: rgb(54, 46, 46);
  max-width: 250px;
  min-width: 200px;
  padding: 0.5rem;
  margin: .5rem;
  border-radius: 3%;
  /* box-shadow: 2px 3px 5px 2px rgb(235, 235, 235); */
}

.users__follow_button {
  margin-top: .25rem;
  width: 100%
}

.card__image {
  width: fit-content;
  object-fit: cover;
  border-radius: 5%;
  padding: .15rem
}
.user__image {
  width: 300px;
  object-fit: cover;
  border-radius: 5%;
  padding: .15rem
}

.users_search {
  width: 25rem;
}

.user__info {
  padding: 0.5rem 1rem
}

.card__subtitle {
  font-size: 11px;

}