.category__page { 
    margin: 50px; 
}

.categoryList { 
    padding: 10px; 
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-left: 50px;
}

.categories {
    display: flex;
    flex-direction: row;
    font-size: 20px; 
    width: 22vw;
    padding: 5px 10px 5px 10px;
    margin: 15px;
    justify-content: space-between;
    border: 1px #cccccc solid;
    border-radius: 25px;
}

.list { 
    flex-direction: column;
    padding: 20px; 
}

.categoryHeader { 
    color: #cccccc;
    font-size: 30px;
    margin: 40px 0px 0px 50px; 
}

.category {
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px; 
    
}

.category__create {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    padding: 50px
}

.enlarge-button{
    height: 25px;
    width: 25px;
    margin-left: 250px;
}

.categoryForm{
    margin-left: 40%;
}

.update{
    margin-left: 0px;
}

.grey-buttons{
    color: #949494;
}

.grey-buttons:hover {
    cursor: pointer;
}

.category_name, Link{
    color: #309875;
}

a:hover .category_name, Link{
    color: #3cffd0;
}

.label{
    color:#309875;
    font-size: xx-large;
}


.addCat{
    font-size: 30px;
}

