.category__page { 
    margin: 50px; 
}

.categoryList { 
    padding: 20px; 
    display: flex; 
    flex-direction: row;
    align-content: flex-start;
}

.categories {
    display: flex;
    flex-direction: row;
    font-size: 25px; 
    width: 40vw;
    padding-left: 10px;
}

.list { 
    flex-direction: column;
    padding: 20px; 
}

.categoryHeader { 
    font-size: 35px; 
}

.category {
    justify-content: center;
    align-items:flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px; 
    
}

.category__create { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    justify-items: center; 
    padding: 50px; 
}

.buttonContainer { 
    display: flex; 
    flex-direction: row; 
}
.editButton, .deleteButton{ 
    margin: 2px; 
}

.addPostButton {
    align-self: flex-end;
    width: max-content;
    border-radius: 3px; 
    margin: 20px; 
  }