
.relative { 
  position: relative;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.subscribe__container {
  width: 80vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.subscribe__content { 
  padding: 15px; 
  border: 1px solid #131313;
  border-style: solid none solid none; 
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.subscribe__text {
  font-size: 2.5rem;
}

.subscribe__posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin: 20px;
  border-radius: 3px;

}

img {
  width: 100%;
  padding: 30px;
  opacity: 0.75;
  filter: alpha(opacity=40);
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}


.subscribe__postheader {
  display: flex;
  flex-flow: column;
  flex-direction: nowrap;
  justify-content: space-between;
}

.subscribe__postbody {
  padding: 1rem;
  margin: 1rem;
}

.postTitle { 
  font-size: 25px; 
}

.addPostButton {
  align-self: flex-end;
  width: max-content;
  border-radius: 3px;
  border: 1px solid silver;
}

.viewCommentsButton, .addCommentsButton { 
  margin: 3px;
  border-radius: 20px;
  font-size: small;
  padding: 5px 10px; 
}

.footer {
  display: flex;
  justify-content: space-between;
}

.authorName,
Link {
  color: #309875;
}

.reactionsContainer { 
  margin-left: auto; 
}