.comment{
  display: flex;
  margin: 0.5rem 1em;
  padding: 0.5rem 1rem;
  
}

.comments__card {
  border: 1px solid goldenrod;
  flex-basis: 24%;
  margin: 0.5rem 1em;
  padding: 0.5rem 1rem;
}

.comment__author{
  font-size: 12px;
  text-align: right;
}
