.comment{
  display: flex;
  margin: 1rem;
  padding: 0.5rem 1rem;
  
}

.comments__card {
  margin: 1rem;
  padding: 0.5rem 1rem;
}

.comment__image{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  align-self: center;
  margin-right: 10px;
}

.comment__author{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: small;
  margin: 5px;
}

.comment__content{
  font-size: medium;
  margin: 5px;
}

.commentBtn{
  display: flex;
  justify-content: flex-end;
}

.comments_title {
  font-weight: bolder;
  font-size: x-large;
  padding-bottom: 10px;
  border-bottom: 1px silver solid;
  margin-bottom: 30px;
}
