/* imports Bulma framework for css */
@import 'bulma/css/bulma.css';
a {
  color: #309875;
}
a:hover { text-decoration: none; color:lightgray; }

html, body {
    background-color: #131313;
    color: #cccccc;
}

.subtitle.is-small {
  font-size: 1rem;
}

.navbar-item, .navbar-link { 
  color: #309875;
  padding-left: 10px; 
  background-color: #131313;
}

.title{
  color: #cccccc
}

.subtitle{
  color: lightgray
}

.label{
  color: #309875;
}