/* imports Bulma framework for css */
@import 'bulma/css/bulma.css';

html, body {
    background-color: #131313;
}

/* LINKS */
a {color: white}
a:hover { text-decoration: none; color:purple; }

.subtitle.is-small {
  font-size: 1rem;
}
