/* imports Bulma framework for css */
@import 'bulma/css/bulma.css';
a:hover { text-decoration: none; color:purple; }

html, body {
    background-color: #131313;
}

.subtitle.is-small {
  font-size: 1rem;
}
