.navbar { 
   color: #ffffff; 
   background-color: #131313;
}

.navbar-menu img {
   max-height: 3rem;
   color: #ffffff; 
   background-color: #131313;
}

.navbar-brand, .navbar-item, .navbar-burger, .navbar-menu  { 
   font-size: 15px;
   background-color: #131313;
}

.navbar-item, .navbar-link { 
   color: #cccccc;
   background-color: #131313;
   padding: 0px; 
}

.navbar-item, .navbar-menu.is-active  { 
   color: #131313; 
}

.navbar-end { 
   padding-right: 75px; 
}

.navbar-burger { 
   margin-right: 25px; 
}

.padding { 
   padding: 45px 10px; 
   color: #3cffd0;
}

.rareHeader { 
   color: #ffffff;
   font-weight: bolder; 
   font-size: 25px; 
   margin-left: 25px; 
}

